# Ignore compiled Python files
*.pyc

# Ignore virtual environment
venv/

# Ignore logs
*.log

# Ignore database files
*.db

# Ignore package build directory
build/

# Ignore distribution directory
dist/

# Ignore cache files
__pycache__/

# Ignore environment variables file
.env

# Ignore IDE specific files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db
